.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-image: url("background-image.jpg");
   }

header {
    background-color: white;
}

h1 {
    margin-left: 15px;
    background-color: darkcyan;
    padding: 6px;
}

ul {
    float: right;
}

li {
    float: left;
    margin-right: 15px;
    padding: 15px;
    list-style-type: none;
}