h1 {
    float: left;
    margin-left: 15px;
    padding: 15px;
    font: white;
    background-color: darkcyan;
}

ul {
    list-style-type: none;
}

ul li {
    float: right;
}

li {
    margin-right: 15px;
    padding: 15px;
}